html
    head
        title='Desafio Back-End - PUG - Eduardo Granero'
        style
            include styles.css
    body
        div 
            h1(style="display:flex; flex-direction: row;justify-content: center;")="Producto Ingresado"
            div(style="display:flex; flex-direction: row;justify-content: center;") 
                div(style="border-style:solid; padding:20px ;margin-block:10px ;text-align:center; width:200px") 
                    h2=producto.nombre 
                    h3=producto.precio 
                    img(src=producto.thumbnail)
            div 
                form(style="display:flex; flex-direction: row;justify-content: center;",action="/", method="get")
                    button(name="boton",type="submit")="CARGAR PRODUCTO"
                form(style="display:flex; flex-direction: row;justify-content: center;",action="/api/productos", method="get")
                    button(name="boton",type="submit")="VER PRODUCTOS"  



