html 
    head
        title='Desafio Back-End - PUG - Eduardo Granero'
        style
            include styles.css 
    body 
        div(style="display:flex;flex-direction:column;align-items:center") 
            form(style="display:flex; flex-direction: row;justify-content: center;",action="/",method="get")
                button(name="boton",type="submit")="CARGAR PRODUCTO"
            div(style="width:500px ;display:flex; flex-direction:row; justify-content:space-between; flex-wrap:wrap") 
                for item in productos
                    div(style="border-style:solid; padding:20px ;margin-block:10px ;text-align:center; width:200px") 
                        h2=item.nombre
                        h3=item.precio 
                        img(src=item.thumbnail)
                        
